<header>
    <router-outlet></router-outlet>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ title }}</a>
            <img class= "icon-image" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/null/external-st-patricks-day-festivals-and-holidays-flaticons-flat-flat-icons.png">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notre Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Créer un Pot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>