<!-- CONTAINER/HEADER-HOME -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="./assets/photo-home/homesecretsanta1.webp" class="card-img-top"
                    alt="image de la fête de la cagnotte">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./assets/photo-home/homesecretsanta1.webp" class="card-img-top"
                    alt="image de la fête de la cagnotte">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./assets/photo-home/homesecretsanta1.webp" class="card-img-top"
                    alt="image de la fête de la cagnotte">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- END CONTAINER/HEADER-HOME -->
    <!-- THE FEATURETTES -->
    <br>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow
                    your
                    mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose
                here.
            </p>
        </div>
        <div class="col-md-5">
            <img src="./assets/photo-home/homecadeaux1.webp" class="card-img-top" alt="image du cadeau pour cagnotte">

        </div>
    </div>

    <br>

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for
                    yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
                layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="./assets/photo-home/homecadeaux1.webp" class="card-img-top" alt="image du cadeau pour cagnotte">

        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
                    class="text-muted">Checkmate.</span>
            </h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with
                some
                actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="./assets/photo-home/homecadeaux1.webp" class="card-img-top" alt="image du cadeau pour cagnotthome">
        </div>
    </div>
</div>
<!-- /END THE FEATURETTES -->